body {
    width: 35em;
    height: 30em;
    background-color: #222222;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title img {
    width: 6em;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.option p {
    color: white;
    font-size: 1.2rem;
}

.add_bookmark_container {
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_bookmark:hover {
    background-color: rgb(0, 255, 64);
    color: black;
}

#add_bookmark {
    transition: .4s;
    border-radius: 5em;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.3em;
    background: none;
    color: rgb(0, 255, 64);
    border: 2px solid rgb(0, 255, 64);
    cursor: pointer;
}